@media (max-width: 1060px) {

    .leftContent1 h1,
    .leftContent2 h1,
    .leftContent3 h1 {
        font-size: 2.5rem;
    }

    .leftContent1 p,
    .leftContent2 p,
    .leftContent3 p {
        font-size: 1.2rem;
    }

    .link1 a {
        font-size: 1.5rem;
    }

    .emailAndButton input,
    .emailAndButton button,
    .rightContent3 input,
    .rightContent3 button {
        padding: 1rem;
    }

    .aboutFylo p,
    .logoAndName p {
        font-size: 1rem;
    }

    .jobs li,
    .contact2 li,
    .contact p {
        font-size: 1.2rem;
    }

    .button::before {
        min-width: 99%;
        min-height: 95%;
    }
}

@media (max-width: 900px) {
    .contact {
        width: 30%;
    }

    .leftContent1 h1 {
        padding-top: 0;
    }
}


@media (max-width: 767px) {

    .firstContainer,
    .secondContainer {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0;
        min-height: 100%;
        gap: 5rem;
    }

    .thirdContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 10%;
        padding: 0;
        min-height: 100%;
    }

    .card,
    .leftContent2,
    .rightContent2,
    .rightContent1,
    .leftContent1,
    .leftContent3,
    .rightContent3 {
        width: 90%;
        text-align: center;
    }

    .secondContainer {
        margin-top: 5rem;
    }

    .leftContent1 {
        height: 40rem;
        text-align: center;
    }

    .logo {
        width: 100%;
    }

    .rightContent {
        width: 60%;
    }

    .header {
        width: 100%;
        padding: 0;
        height: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .leftContent1,
    .leftContent2 {
        gap: 5rem;
        padding-bottom: 10rem;
    }

    .emailAndButton {
        height: 20%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20%;
    }

    .emailAndButton input,
    .emailAndButton button {
        height: 100%;
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10%;
    }

    .middle {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .card {
        width: 80%;
    }

    .thirdContainer {
        width: 100%;
    }

    .background {
        height: 100%;
    }

    .leftContent3 {
        height: 20rem;
        display: flex;
        justify-content: center;
        gap: 2rem;
    }

    .rightContent3 {
        padding: 0;
        height: 15rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
    }

    .rightContent3 input,
    .rightContent3 button {
        width: 70%;
    }

    .footer {
        width: 100%;
        height: 70rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 10%;
        padding-top: 10%;
        gap: 10%;
    }

    .contact,
    .jobs,
    .contact2 {
        width: 100%;
        padding: 0;
        height: 20%;
        display: flex;
        gap: 10%;
    }

    .jobs li,
    .contact2 li {
        padding: 0;
    }

    .apps {
        width: 100%;
    }

    .phone,
    .email {
        width: 100%;
    }

    .aboutFylo,
    .logoAndName {
        text-align: center;
        display: flex;
        align-items: center;
        padding: 0;
        justify-content: center;
    }

    .button::before {
        min-width: 99%;
        min-height: 95%;
    }
}

@media (max-width: 400px) {
    .footer {
        padding-left: 0;
    }

    .contact,
    .jobs,
    .contact2,
    .apps {
        align-items: center;
    }

    .phone,
    .email {
        justify-content: center;
    }

    .header {
        flex-direction: column;
    }

    .rightContent {
        width: 100%;
        justify-content: center;
    }

    .logoAndName {
        flex-direction: column;
    }

    .card {
        height: 25rem;
    }
}